<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778342715230-3nshgltn317ao3je3in4mi4o3ohmq0ad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778342715230-3nshgltn317ao3je3in4mi4o3ohmq0ad</string>
	<key>API_KEY</key>
	<string>AIzaSyCkiIME-APMTiInc_uWGKtu0wTJynPTJKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>778342715230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BerumenDevelopments.Tutori-as-Manager</string>
	<key>PROJECT_ID</key>
	<string>tutoriasmanager</string>
	<key>STORAGE_BUCKET</key>
	<string>tutoriasmanager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778342715230:ios:beb545513f83d6ce6709cf</string>
	<key>DATABASE_URL</key>
	<string>https://tutoriasmanager.firebaseio.com</string>
</dict>
</plist>